################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Framework/Cl.Blog/Cl.Blog.BLL/bin/Debug
/src/Framework/Cl.Blog/Cl.Blog.BLL/obj
/src/Framework/Cl.Blog/Cl.Blog.Common/bin/Debug
/src/Framework/Cl.Blog/Cl.Blog.Common/obj
/src/Framework/Cl.Blog/Cl.Blog.DAL/bin/Debug
/src/Framework/Cl.Blog/Cl.Blog.DAL/obj
/src/Framework/Cl.Blog/Cl.Blog.Model/bin/Debug
/src/Framework/Cl.Blog/Cl.Blog.Model/obj
/src/Framework/Cl.Blog/Cl.Blog.Web/bin
/src/Framework/Cl.Blog/Cl.Blog.Web/obj/Debug
/src/Framework/Cl.Blog/Cl.Blog.Web/upload
/src/Framework/Cl.Blog/packages
/src/Framework/Cl.Blog/source/btzero_7_Director
/src/Framework/Cl.Blog/niunan.sql
/.vs
/src/Framework/Cl.Blog/.vs
/src/.vs/Cl.Blog
/src/Cl.Blog.BLL/bin/Debug
/src/Cl.Blog.BLL/obj/Debug
/src/Cl.Blog.Common/bin/Debug
/src/Cl.Blog.Common/obj/Debug
/src/Cl.Blog.DAL/bin/Debug
/src/Cl.Blog.DAL/obj/Debug
/src/Cl.Blog.Model/bin/Debug
/src/Cl.Blog.Model/obj/Debug
/src/Cl.Blog.Web/bin
/src/Cl.Blog.Web/obj/Debug
