################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Cl.Blog/Cl.Blog.BLL/bin/Debug
