@page "/"

<div class="container">
    <div class="row">
        <div class="col">
            <div style="position: sticky;top: 70px;">
                <Category />
            </div>
        </div>
        <div class="col-8">
            <!--正文列表内容-->
            <div id="content">
                <Bloggers />
            </div>
            <!--分页-->
            <div id="pagination"></div>
            <a id="replaceHref" style="display: none;" asp-controller="Blogger" asp-action="List" asp-route-page="2"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
               data-ajax-update="#content" class="mypager page-link">1</a>
        </div>
        <div class="col">
            <!--其它内容-->
            <canvas id="canvas" style="width: 100%;"></canvas>
            <div class='calendar' style="width: 100%;" id='calendar'></div>
        </div>
    </div>
</div>